@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap')

@layer utilities {
  .text-shadow {
    text-shadow: 0px 0px 10px #ffffffdd;
  }
  .bersinar{
    box-shadow: 0px 0px 5px #ffffffbb;
  }
  .bayangan {
    box-shadow: 0px 0px 10px #cbd5e1ff,  /* Shadow hanya ke bawah */
                inset 0px -2px 5px #cbd5e188; /* Inset shadow hanya ke bawah */
}

}



