@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap')
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-shadow {
    text-shadow: 3px 3px 3px #ffffffdd;
  }
  .bersinar{
    box-shadow: 0px 0px 5px #ffffffbb;
  }
  /* .bayangan {
    box-shadow: 0px 3px 10px #cbd5e1ff, inset 0px -2px 5px #cbd5e188; 
  } */
}



